$primary-color: #03001C;
$secondary-color: #301E67;
$tertiary-color: #5B8FB9;
$quaternary-color: #B6EADA;

// $primary-color: #1E3163;
// $secondary-color: #2D46B9;
// $tertiary-color: #F037A5;
// $quaternary-color: #F8F8F8;

$green : rgb(37, 235, 129)